<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/ratchet.css" rel="stylesheet">
    <link href="css/ratchet-theme-ios.css" rel="stylesheet">
    <link href="css/overrides.css" rel="stylesheet">

    <script src="cordova.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/forcetk.mobilesdk.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/ember.js"></script>
    <script src="js/ember-data.js"></script>
    <script src="js/ember-fastclick.js"></script>
    <script src="js/ember-animated-outlet.js"></script>
    <script src="js/ember-app.js"></script>
</head>

<body>
  <script type="text/x-handlebars">
    {{render 'header'}}

    {{animated-outlet name="main"}}

    {{render 'footer'}}
  </script>

  <script type="text/x-handlebars" id="header">
    <header class="bar bar-nav">
      {{#if showBackButton}}
        <a class="icon icon-left-nav pull-left" {{action 'previousPage'}}></a>
      {{/if}}
      <h1 class="title">{{title}}</h1>
    </header>
  </script>

  <script type="text/x-handlebars" id="footer">
    <nav class="bar bar-tab">
      {{#link-to 'users' class="tab-item"}}
        <span class="icon icon-list"></span>
        <span class="tab-label">Users</span>
      {{/link-to}}
      {{#link-to 'customers' class="tab-item"}}
        <span class="icon icon-person"></span>
        <span class="tab-label">Customers</span>
      {{/link-to}}
    </nav>
  </script>


  <script type="text/x-handlebars" id="users">
    <div class="content">
      <ul id="users" class="table-view">
        {{#each user in users}}
          <li class="table-view-cell">
            <a class="navigate-right" {{action 'goToUser' user}}>
              {{user.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </script>

  <script type="text/x-handlebars" id="user">
    <div class="content">
      <div class="content-padded">
        <img style="max-width:90%;" {{bind-attr src=user.photoUrl}}></img>
        <h3>{{user.title}}</h3>
        <p><h4>{{user.name}}</h4></p>
        <p><h5>email:</h5>{{user.email}}</p>
        <p><h6>phone:</h6>{{user.phone}}</p>
      </div>  
    </div>
  </script>

  <script type="text/x-handlebars" id="customers">
    <div class="content">
      <ul id="users" class="table-view">
        {{#each customer in customers}}
          <li class="table-view-cell">
            <a class="navigate-right" {{action 'goToCustomer' customer}}>
              {{customer.name}}
            </a>
          </li>
        {{/each}}
      </ul>
      <div id="myModalexample" class="modal">
        <header class="bar bar-nav" z-index="">
          <a class="icon icon-close pull-right" href="#myModalexample"></a>
          <h1 class="title">Payliquid</h1>
        </header>

        <div class="content">
          <p class="content-padded"><h3>Please log in to your Payliquid account.</h3></p>
          <p class="content-padded">
            <form {{action 'login' on="submit"}}>
              {{input type="email" placeholder="Email" valueBinding=email}}
              {{input type="password" placeholder="Password" valueBinding=password}}
              <button class="btn btn-positive btn-block">Log In</button>
            </form>
          </p>          
        </div>
      </div>
    </div>
  </script>


  <script type="text/x-handlebars" id="customer">
    <div class="content">
      <div class="content-padded">
        <h3>{{customer.businessName}}</h3>
        <p><h4>{{customer.name}}</h4></p>
        <p><h5>email:</h5>{{customer.email}}</p>
        <p><h6>phone:</h6>{{customer.phoneMobile}}</p>
      </div>  
    </div>
  </script>

</body>
</html>